/*Geral*/
body{
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
a,
a:hover,
a:focus{
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* Side bar*/

.wrapper{
    display: flex;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar{
    height: 400px;
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
   margin-left: -250px;
}

#sidebar .sidebar-header{
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components{
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p{
    color: #fff;
    padding: 10px;
}

#sidebar ul li a{
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover{
    color: #7385D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"]{
    position: relative;
}

.dropdown-toggle::after{
    display: block;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
}

ul ul a{
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#content{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    #sidebar{
        margin-left: -250px;
    }
    #sidebar.active{
        margin-left: 0;
    }
    #sidebarCollapse span{
        display: none;
    }
}

.sidebar.active ~ #content{
    width: calc(100% - 280px);
    left: 280px;
}

.btn-info, .btn-info:hover{
    color: #fff;
    background-color: #6d7fcc;
    border-color: #7385D5;

}
/* Fim de Side bar*/

/* dentro da <div> Side bar para os
restantes elementos*/
.titulos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

#content .titulos{
    height: 100%;
    font-size: 25px;
    font-weight: 500;
    color: rgb(38, 38, 112);
    margin: 12px;
    text-align: center;
}

.text{
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin: 12px;
    text-align: justify;
}

.car{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/*empresario.html*/
.empresario{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left{
    float: left;
}

.texto {
    height: 300px;
    width: 400px;
    text-align: justify;
}
/* Alinhar o p à direita da imagem*/
/*.texto .right{
    text-align: justify; 
    float: right;
}*/

/*sobre.html*/
img{
    height: 600px;
}

.stand{
    position: relative;
    height: 600px;
    margin: 0;
}

.local{
    margin: 0;
    position: absolute;
    width: 50%;
    height: 80%;
    left: 25%;
    right: 25%;
}
/*contactos*/

.row{
    display: flex;
    top: 50%;
    justify-content: space-evenly;
    align-items: center;
    
}
/*novos*/

.botao{
    display: flex;
    padding-left: 25px;
    justify-content: flex-start;

}

.btn-primary, .btn-primary:hover, .btn-primary::after{
    color: #fff;
    background-color: #6d7fcc;
    border-color: #7385D5;
}

.logos{
    width: 20%;
    height: 15%;
}

/*novidades.html*/
ul{
    list-style-type: none;
}

/*aixam.html*/
.flexbox{
    justify-content:center;
    display: flex;
}

.colunas{
    flex-direction: column;
    justify-content:space-between;
    padding: 15px;
}